<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-xs-6">
            <h2><b>RELIABLE </b>Employees</h2>
          </div>
          <!-- Button trigger modal -->
          <div style="float: right;margin: 5rem 5rem 0 0">
            <button type="button" class="btn btn-success" (click)='openModal("new")'>
            New employee
            </button>
          </div>
        </div>
      </div> <table class="table">
      <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">Employee ID</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Gender</th>
        <th scope="col">Position</th>
      </tr>
      </thead>

      <tbody>
        <tr *ngFor="let employee of EmployeeListData; let i = index">
          <td>
            <button type="button" class="btn btn-primary" (click)='openModal("edit", employee)'>
              <i class="fa fa-pencil fa-lg"></i>
            </button>
            <app-sweetalert
              [employee]="EmployeeListData"
              [button]="'delete'"
              [index]="i"></app-sweetalert>

          </td>
          <td>{{ employee.empid }}</td>
          <td>{{ employee.username }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.dob}}</td>
          <td>{{ employee.gender }}</td>
          <td>{{ employee.position }}</td>
        </tr>
      </tbody>
    </table>

    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog"  style="max-width: 85rem" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee form</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <app-employee-form [employee]="getEmployee()" [formType]="formType.toUpperCase()"></app-employee-form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-success" (click)="saveForm(formType)">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show" id="backdrop"  style="display: none;"></div>
</div>
<router-outlet></router-outlet>
